<head>
    <link href="~/css/Settings.css" rel="stylesheet" type="text/css" />
</head>
<title>Generator Settings</title>
<body>
    <form class="form-inline vertical-center">
        <div class="container">
            <div class="col-xs-6">
                <label class="label" for="TilePlacement">Tile Placement</label>
            </div>
            <div class="col-xs-3">
                <input type="checkbox" class="custom-control-input" id="checkbox1" />
            </div>
            <div class="col-xs-3">
                <input type="checkbox" class="custom-control-input" id="checkbox2" />
            </div>
            <div class="col-xs-6">
                <label class="label" for="ChipPlacement">Chip Placement</label>
            </div>
            <div class="col-xs-3">
                <input type="checkbox" class="custom-control-input" id="checkbox3" />
            </div>
            <div class="col-xs-3">
                <input type="checkbox" class="custom-control-input" id="checkbox4" />
            </div>
            <div class="col-xs-6">
                <label class="label" for="NumberofPlayers">Number of Players</label>
            </div>
            <div class="col-xs-3">
                <input type="checkbox" class="custom-control-input" id="checkbox5" />
            </div>
            <div class="col-xs-3">
                <input type="checkbox" class="custom-control-input" id="checkbox6" />
            </div>
        </div>
    </form>
</body>