<head>
    <link href="~/css/Settings.css" rel="stylesheet" type="text/css" />
</head>
<title>Generator Settings</title>
<h1 class="gentitle">
    Generator Settings
</h1>
<form action="" method="post" class="form-inline vertical-center">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-xs-6"></div>
            <div class="col-xs-2"><label class="checkdesc">Random</label></div>
            <div class="col-xs-2"><label class="checkdesc">Fixed</label></div>
        </div>
        <div class="row align-items-center">
            <div class="col-xs-6"><label class="label" for="TilePlacement">Tile Placement</label></div>
            <div class="col-xs-2"><input type="radio" class="custom-control-input" id="TileRandom" name="TileRadio" /></div>
            <div class="col-xs-2"><input type="radio" class="custom-control-input" id="TileFixed" name="TileRadio"/></div>
        </div>
        <div class="row align-items-center">
            <div class="col-xs-6"></div>
            <div class="col-xs-2"><label class="checkdesc">Random</label></div>
            <div class="col-xs-2"><label class="checkdesc">Fixed</label></div>
        </div>
        <div class="row align-items-center">
            <div class="col-xs-6"><label class="label" for="ChipPlacement">Chip Placement</label></div>
            <div class="col-xs-2"><input type="radio" class="custom-control-input" id="ChipRandom" name="ChipRadio" /></div>
            <div class="col-xs-2"><input type="radio" class="custom-control-input" id="ChipFixed" name="ChipRadio" /></div>
            <br />
        </div>
        <div class="row align-items-center">
            <div class="col-xs-6"></div>
            <div class="col-xs-2"><label class="checkdesc">4</label></div>
            <div class="col-xs-2"><label class="checkdesc">5</label></div>
        </div>
        <div class="row align-items-center">
            <div class="col-xs-6"><label class="label" for="NumberofPlayers">Number of Players</label></div>
            <div class="col-xs-2"><input type="radio" class="custom-control-input" id="FourPlayer" name="PlayerRadio"/></div>
            <div class="col-xs-2"><input type="radio" class="custom-control-input" id="FivePlayer" name="PlayerRadio"/></div>
            <br />
        </div>
        <input class="btn btn-primary btn-lg no-padding submitbutton" type="button" id="submit-btn" value="Create" onclick="location.href='@Url.Action("SaveBoardSettings")'" />
    </div>
</form>