
.idea/.idea.Catan/.idea/contentModel.xml

.idea/.idea.Catan/.idea/encodings.xml

.idea/.idea.Catan/.idea/indexLayout.xml

.idea/.idea.Catan/.idea/modules.xml

.idea/.idea.Catan/.idea/projectSettingsUpdater.xml

.idea/.idea.Catan/.idea/vcs.xml

.idea/.idea.Catan/riderModule.iml

Catan/obj/Catan.csproj.nuget.cache

Catan/obj/Catan.csproj.nuget.dgspec.json

Catan/obj/Catan.csproj.nuget.g.props

Catan/obj/Catan.csproj.nuget.g.targets

Catan/obj/Debug/netcoreapp2.1/Catan.assets.cache

Catan/obj/Debug/netcoreapp2.1/Catan.csprojAssemblyReference.cache

Catan/obj/project.assets.json

Catan/obj/project.packagespec.json

DAO/obj/DAO.csproj.nuget.cache

DAO/obj/DAO.csproj.nuget.dgspec.json

DAO/obj/DAO.csproj.nuget.g.props

DAO/obj/DAO.csproj.nuget.g.targets

DAO/obj/Debug/netcoreapp2.1/DAO.AssemblyInfo.cs

DAO/obj/Debug/netcoreapp2.1/DAO.assets.cache

DAO/obj/project.assets.json

DAO/obj/project.packagespec.json

Logic/obj/Debug/netcoreapp2.1/Logic.assets.cache

Logic/obj/Logic.csproj.nuget.cache

Logic/obj/Logic.csproj.nuget.dgspec.json

Logic/obj/Logic.csproj.nuget.g.props

Logic/obj/Logic.csproj.nuget.g.targets

Logic/obj/project.assets.json

Logic/obj/project.packagespec.json

Models/obj/Debug/netcoreapp2.1/Models.assets.cache

Models/obj/Models.csproj.nuget.cache

Models/obj/Models.csproj.nuget.dgspec.json

Models/obj/Models.csproj.nuget.g.props

Models/obj/Models.csproj.nuget.g.targets

Models/obj/project.assets.json

Models/obj/project.packagespec.json

.vs/Catan/v16/Server/sqlite3/db.lock

 .vs/Catan/v16/Server/sqlite3/db.lock


