* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    background-color: #5eb28f;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: white;
    overflow: hidden;
}

html,
body {
    height: 100%;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.main-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.main-menu-btn {
    font-family: Roboto;
    width: 200px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 2px;
    cursor: pointer;
}

.main-menu-list {
    list-style-type: none;
}

.main-menu-list-horizontal {
    height: 210px;
    margin: -50px 0 0 5px;
    width: 250px;
}

.main-menu-list-vertical {
    margin: 0 0 0 -150px;
}

.board-partial {
    margin: 50px;
}
ul.vertical-small {
    z-index: 50;
    float: left;
    margin: -20px 0 0 800px;
    list-style: none;
    display: block;
}
ul.vertical-big {
    z-index: 50;
    float: left;
    margin: -1220px 0 0 850px;
    list-style: none;
    display: block;
}

ul.horizontal{
    z-index: 50;
    position: absolute;
    margin: 650px 0 0 50px;

}

.li-spacer-small {
    height: 350px;
    width: 420px;
}
#savedText {
    display: block;
    margin: 10px 0 0 29px;
    visibility: hidden;
}
.li-spacer-big {
    height: 368px;
    width: 420px;
}
.ul-vertical-big {
    left: -300px;
    
}

.ul-vetical-small {
    width: 250px;
}

.li-horizontal-small {
    float: left;
    list-style: none;
    /*margin: 0 0 0 45px;*/
}
ul.horizontal li-horizontal-small {
    display: inline-block;
}

.li-horizontal-big {
    float: left;
    list-style: none;
    /*position: absolute;*/
    /*    margin: 0px 0 0 45px;*/
}
.centered-small {
    margin: 0 auto;
    width: 1000px;
}
.centered-big{
    margin: 0 auto;
    width: 1000px;
}
.horizontal-spacer {
    margin: 0 45px 0 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.Button-lower-Right {
    position: relative;
    width: 95px;
    height: 95px;
    float: right;
    margin-top: 0;
    margin-right: 0;
}

.Button-lower-Left {
    position: relative;
    width: 95px;
    height: 95px;
    float: left;
    margin-top: 0;
    margin-left: 0;
}

.image {
    position: relative;
    width: 145px;
    height: 145px;
    float: right;
    margin-top: 5px;
    margin-right: 50px;
}

.image-titel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #E6DE20;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bfooter {
    position: absolute;
    right: 40px;
}
#settings{
    margin-top:150px;
}

html, body {
    height: 100%;
}

.container {
    font-size: 5rem;
    margin: 0 auto;
    position: relative;
    padding: 40px 20px;
}

.container > input[type="radio"] {
    border: 0;
    width: 100%;
    height: 2em;
}

.custom-control-input {
    width: 30px;
    height: 30px;
}

.form-inline.vertical-center {
    margin: 0 auto;
}

.vertical-center {
    width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.box {
    padding: 0 5px 0 5px;
}

.gentitle {
    font-size: 64px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    margin-bottom: 1em;
}

.checkdesc {
    font-size: 16px;
}

.row-align-items-center {
    padding: 0;
}

#submit-btn {
    font-size: 18px;
    border: 8px solid black;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
}
.submitbutton {
    margin: 50px auto;
    height: 60px;
}
#Height_Fix {
    height: 60px;
}
.settingsGear {
    position: absolute;
    height: 40px;
    width: 40px;
}

#BigRadio {
    border: 0;
    width: 100%;
    height: 0.4em;
}

.checkbox-size {
    height: 2em;
    width: 100%;
}

.navbar-background {
    background-color: #5EB28F;
}

#spacing-row {
    padding-bottom: 10px;
    padding-top: 10px;
}

.submitbutton:hover {
    background-color: transparent;
}