<body>
    <div class="main-menu-container">
        <div>
            <button type="button" class="btn btn-light main-menu-btn">test</button>
        </div>
        <div>
                @using (Html.BeginForm("Index", "Board"))
                {
                    <button type="submit">OK</button>
                }
        </div>
    </div>
</body> 