@using Models
<body>
    <p></p>
    <div class="main-menu-container">
        <ul class="main-menu-list">
            <li>
                <div>
                    @using (Html.BeginForm("index", "Settings"))
                    {
                        <button type="submit" class="main-menu-btn">Generate Board</button>
                    }
                </div>
            </li>
            <li>
                <div>
                    @using (Html.BeginForm("BoardDisplay", "Board"))
                    {
                        <button type="submit" class="main-menu-btn">Test Page</button>
                    }
                </div>
            </li>
        </ul>
        
        
        
    </div>
</body> 