<body>
    <div class="main-menu-container">
        <div>
            @using (Html.BeginForm("BigBoard", "Board"))
            {
            <button type="submit">BigBoard</button>
            }
        </div>
        <div>
            @using (Html.BeginForm("SmallBoard", "Board"))
            {
                <button type="submit">SmallBoard</button>
            }
        </div>
    </div>
</body> 