<body>
    <nav class="navbar navbar-fixed-top">
        <div class="image">
            <img src="~/images/Banner.png" />
            <label class="image-titel"><span class="lang" key="Boardgenerator"></span></label>
        </div>
    </nav>
        <div id="settings"  class="main-menu-container" lang="en">
            <ul class="main-menu-list">
                <li>
                    <div>
                        <button onclick="darker()" type="button" class="main-menu-btn"><p class="lang" key="DarkMode"></p></button>
                    </div>
                </li>
                <li>
                    <div>
                        <button onclick="Changelanguage()" type="button" class="main-menu-btn"><p class="lang" key="Languages"></p></button>
                    </div>
                </li>
            </ul>


        </div>
   
    <div class="navbar navbar-fixed-bottom">
        <div class="Button-lower-Left">
            @using (Html.BeginForm("index", "Home"))
            {
                <input type="image" src="images/Return.png" />
                
            }
        </div>
    </div>
</body>
@*<script language="JavaScript">

    if (document.images)
        location.replace('http://localhost:2764/Options');
    else
        location.href = 'Options/Index.cshtml';
</script>*@