@model DummyCollectionViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead class="table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullBoard)
            </th>
            <th></th> 
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FullBoard) {
        <tr>
            <td>
			<td>
                <button onClick="@Url.Action("BoardDisplay", "Board", item.BoardId);"></button>
			</td>
        </tr>
}
    </tbody>
</table>
