
@{
    string size = "";
}
@{

    if (Model.Tiles.Count <= 19)
    {
        size = "small";
    }
    else
    {
        size = "big";
    }
}
<script>
    function DownloadImage() {

        html2canvas($('#board_partial')[0],
            {
                width: 1200,
                height: 1200
            }).then(function (canvas) {
                canvas.toBlob(function (blob) {
                   saveAs(blob, "Catan_Board.jpg");
                });
            });
    }

    function Refresh() {
        window.location.reload();
    }

    function GoToSettings() {
        window.location = '../Settings';
    }

    function UnHide() {
        var hide = document.querySelector('#savedText');
        var hidestyle = getComputedStyle(hide);
        if (hidestyle.visibility == "hidden") {
            document.getElementById("savedText").style.visibility = "visible";
        }
        setTimeout(
            function () {
                document.getElementById("savedText").style.visibility = "hidden";
            }, 2000);
    }
    function GoToHome() {
        window.location.href = "/Home";
    }


</script>

<div class="centered-@size">
    <div class="board-partial" id="board_partial">
        @if (size == "small")
        {
            <partial name="Partial/_SmallBoard.cshtml" />
        }
        else
        {
            <partial name="Partial/_BigBoard.cshtml" />
        }
    </div>
    <ul class="vertical-@size">
        <li>
            <div>
                <button type="button" onClick="DownloadImage()" class="main-menu-btn" id="SaveButton"><span class="lang" key="SaveImage"></span></button>
            </div>
        </li>
        <li>
            <div>
                <button type="button" class="main-menu-btn" onclick="UnHide()"><span class="lang" key="SaveLibrary"></span></button>
                <h5 id="savedText" class="lang" key="SaveLibText"></h5>
            </div>
        </li>
        <li>
            <div class="li-spacer-@size" />
        </li>
        <li>
            <div>
                <button type="button" class="main-menu-btn" onclick="GoToHome()"><span class="lang" key="Menu"></span></button>
            </div>
        </li>
    </ul>
    <ul class="horizontal">
        <li class="li-horizontal-@size">
            <div>
                <button onClick="GoToSettings()" type="button" class="main-menu-btn horizontal-spacer"><span class="lang" key="GenNewSettings"></span></button>
                <button onClick="Refresh()" type="button" class="main-menu-btn"><span class="lang" key="GenSameSettings"></span></button>
            </div>
        </li>
    </ul>

</div>

