@Html.Raw("<script src=\"https://cdn.jsdelivr.net/npm/@grabzit/js@3.3.7/grabzit.min.js\"></script>")
@{
    string size;
    if (Model.Tiles.Count <= 19)
    {
        size = "small";
    }
    else
    {
        size = "big";
    }
}
<style>

    img {
        display: block;
        position: absolute;
        z-index: 40;
        width: 24%;
        float: right;
    }

    .loading {
        visibility: hidden;
        margin: 0 0 0 15px;
    }

        .loading img {
            align-self: center;
            display: block;
            width: 50px;
        }

        .loading p {
            display: block;
            margin: 0 0 0 55px;
        }

    .helpSave {
        visibility: hidden;
        width: 150px;
        position: fixed;
        z-index: 6000;
        margin: 290px 0 0 70px;
    }
</style>
<div class="helpSave"><p>Richt Click to Save!</p></div>
<div class="centered-@size">
    <div class="board-partial">
        @if (size == "small")
        {
            <partial name="Partial/_SmallBoard.cshtml" />
        }
        else
        {
            <partial name="Partial/_BigBoard.cshtml" />
        }
    </div>
    <ul class="vertical-@size">
        <li>
            <div>
                <button type="button" onClick="DownloadImage()" class="main-menu-btn"><span class="lang" key="SaveImage"></span></button>
            </div>
        </li>
        <li>
            <div class="loading">
                <img src="~/images/loading.gif" /><br />
                <p>Generating Image</p>
            </div>
        </li>
        <li>
            <div class="li-spacer-@size" />
        </li>
        <li>
            <div>
                <button type="button" class="main-menu-btn" onclick="GoToHome()"><span class="lang" key="Menu"></span></button>
            </div>
        </li>
    </ul>
    <ul class="horizontal">
        <li class="li-horizontal-@size">
            <div>
                <button onClick="GoToSettings()" type="button" class="main-menu-btn horizontal-spacer"><span class="lang" key="GenNewSettings"></span></button>
                <button onClick="Refresh()" type="button" class="main-menu-btn"><span class="lang" key="GenSameSettings"></span></button>
            </div>
        </li>
    </ul>

</div>
<script>

    function DownloadImage() {
        GrabzIt("YzFiMGZmNzljYWNmNDQ4ZGJmOGM5NWE1Yzg5NTZmZWY=").ConvertPage({ "target": "board_partial", "bheight": -1, "height": -1, "width": -1 }).Create();
        Unhide();

    }
    function Refresh() {
        window.location.reload();

    }
    function GoToSettings() {
        window.location.href = '/Settings';
    }

    function Unhide() {
        var hiddenSave = document.querySelector(".helpSave");
        var hid = document.querySelector('.loading');
        var Hidstyle = getComputedStyle(hid);
        if (Hidstyle.visibility == "hidden") {
            hid.style.visibility = "visible";
        }
        setTimeout(
            function () {
                hid.style.visibility = "hidden";

                hiddenSave.style.visibility = "visible";
            }, 30000);
    }
    function Show() {
        var hiddenSave = document.querySelector('.helpSave');

        if (isHidden == true) {
            hiddenSave.style.visibility = "visible";
        }
    }
    function GoToHome() {
        window.location.href = "/Home";
    }

    
</script>
