
@{
    ViewData["Title"] = "Catan Board";
}
<head>
    <link href="~/css/Board.css")" rel="stylesheet" type="text/css"/>
</head>
<script src="~/js/site.js"></script>
<script type="text/javascript">
    var game;
    var type = 'static';
    if (!game) {
        if (type == 'static') {
            game = newSpiralGame();
        }
    }
    displayGame(game);
</script>


<body>
    <ul id="hexGrid">
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#" ;
                  <h1>FichesAmount</h1>
            </div>
        </li>;
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#" ;
                  <h1>FichesAmount</h1>
            </div>
        </li>;
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#" ;
                  <h1>FichesAmount</h1>
            </div>
        </li>;
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#" ;
                  <h1>FichesAmount</h1>
            </div>
        </li>;
    </ul>
</body>
